@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100;0,200;1,100;1,200;1,300&family=Oswald&display=swap');

body{
    background-color: rgba(0, 0, 0, 0.932);
    margin-top: 0px;
}
.nav-bar{
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
    float: left;
    background-color: rgba(128, 128, 128, 0.363);
    width: 150px;
    min-height: 100vh;
    color: white;

}
nav > img{
    width: 150px;
    background-color: blue;
    /* border-style: dashed; */
}


a{
    display: block;
    border-bottom: 1px black dashed ;
    /* border-width: ; */
    color: white;
    text-decoration: none;
    /* padding-left: 2px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 20px;

}
main{
    padding: 0px 50px 0px 200px;
}
.main h1{
    text-align: center;
    color: blueviolet;
}
.main p{
    color: white;
    font-family: 'Abril Fatface', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
  text-align: center;
  line-height: 25px;
}
.main img{
    padding-left: 370px;
    display: block;
    justify-content: center;
    height: 200px;
    
}
.foot{
    text-align: right;
}
.mp{
    height: 50px;
    width: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    position: fixed;
    bottom: 0;
    right: 20px;

}